<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Spring Boot Form Demo</title>
</head>
<body>
    <div align="center">
        <h1>Azure Spring Apps Demo</h1>
        <a href="/yoda" target="content_iframe">Quotes from the API application</a><br/>
        <a href="/password"  target="content_iframe">Password from Azure KeyVault</a><br/>
        <a href="/hello"  target="content_iframe">HelloWorld from Config service</a><br/>
    </div>
    <div align="center">
        <iframe src="about:blank" name="content_iframe" height="300px" width="100%" >

        </iframe>
    </div>
</body>
</html>